<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create</a>
        <a href="/upload">Upload</a>
    </div>
    <h1>upload</h1>
    <div>
        <form action="/uploadfile" method="post" enctype="multipart/form-data">
            <label for="fname">Upload File:</label>
            <input type="file" id="fname" name="image"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>